.hero-img {
  @media (min-width: $breakpoint-xs) {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (min-width: $breakpoint-sm) {
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (min-width: $breakpoint-md) {
    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (min-width: $breakpoint-lg) {
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (min-width: $breakpoint-xl) {
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
