.home-container {
  .hero-container {
    position: relative;
    .home-hero-text {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(0%, 0%);
      color: $light-color;

      h1 {
        font-size: 4rem;
      }

      h2 {
        letter-spacing: 0.2px;
        margin-bottom: 2rem;
      }

      @media (max-width: $breakpoint-md) {
        h1 {
          font-size: 2rem;
        }

        h2 {
          font-size: 1rem;
        }
      }
    }
  }

  .home-carousel {
    @include flex-container;
    padding: 4rem 3rem;
    overflow-x: scroll; /* Enable horizontal scrolling if content overflows horizontally */
    gap: 4rem;
    background-color: $bg-gary-01;

    &::-webkit-scrollbar {
      width: 10px;
      /* Set the width of the scrollbar */
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1; /* Set the background color of the track */
    }
    &::-webkit-scrollbar-thumb {
      background: red;
      height: 15px; /* Set the color of the thumb */
    }

    img {
      transition: transform 0.3s ease;
      width: 100%;
      height: 100%;

      &:hover {
        transform: scale(1.5); // Zoom-in effect on hover
        z-index: 1; // Ensure the hovered image is on top
      }
    }

    img:not(:hover) {
      z-index: 0; // Ensure non-hovered images are below the hovered image
    }
  }

  .home-typography {
    @include flex-container;

    .container-typography {
      @include container-md;
      @include flex-center;
      flex-direction: column;
      padding: 10rem;

      h1 {
        font-size: 4.5rem;
        text-align: center;
      }

      hr {
        background: red;
        border: 1px solid $third-color;
        width: 20%;
        margin-top: 4rem;
      }

      @media (max-width: $breakpoint-md) {
        padding: 5rem;
        h1 {
          font-size: 2rem;
        }
      }
    }
  }

  .home-section-image {
    @include grid-container($columns: 2, $gap: 0);
  }

  .home-setting-purpose {
    @include container;
    @include flex-center;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 0;

    .purpose-heading {
      text-align: center;

      h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .purpose-heading-content {
      @include grid-container($columns: 2, $gap: 1rem);

      .card-image {
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
      }
    }
  }

  .explore-product {
    @include container;
    @include flex-center;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 0;

    .explore-heading {
      text-align: center;

      h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .explore-content {
      @include grid-container($columns: 4, $gap: 2rem);

      .product-wrapper {
        position: relative;

        h3 {
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translate(-50%, 50%);

          &:nth-child(1) {
            color: $light-color;
          }
        }
      }

      @media (max-width: $breakpoint-md) {
        @include grid-container($columns: 1, $gap: 2);
      }
    }
  }
}
