//* Default font sizes */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-light";
  src: url("../../assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$base-font-size: 16px;
$small-font-size: 0.875rem; // 14px
$medium-font-size: 1rem; // 16px
$large-font-size: 1.25rem; // 20px

// Default line heights
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Default font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

/* Typography styles */
body {
  font-family: "Roboto-regular", "Roboto-light", "Roboto", sans-serif;
  /* Provide fallback font families */
  font-size: $base-font-size; /* Assuming $base-font-size is defined elsewhere */
  line-height: $base-line-height; /* Assuming $base-line-height is defined elsewhere */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $spacer-half; // Assuming $spacer-half is defined in your variables file
  font-weight: $font-weight-bold;
  line-height: $heading-line-height;
}

p {
  margin-top: 0;
  margin-bottom: $spacer;
}
